<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <title>{% block title %}Perfect Place{% endblock %}</title>

        {% block stylesheets %}
            <link rel="stylesheet" type="text/css" href="{{ asset('bundles/bmatznerfoundation/css/foundation.min.css') }}" />
        {% endblock %}


        <script type="text/javascript"
                src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDf5ectAep4TV8yRQoUqnNWfc3cKm6ivJs">
        </script>
        <script type="text/javascript">
            function initialize() {
                var mapOptions = {
                    center: { lat: 50.635568, lng: 3.0620460000000094},
                    zoom: 15
                };
                var map = new google.maps.Map(document.getElementById('map-canvas'),
                        mapOptions);
            }
            google.maps.event.addDomListener(window, 'load', initialize);
        </script>

        <link rel="icon" type="image/x-icon" href="{{ asset('public/img/favicon.ico') }}" />
    </head>
    <body>

    {% include "banner.html.twig" %}

        {% block body %}
        {% endblock %}

        {% block javascripts %}
            <script type="text/javascript" src="{{ asset('bundles/bmatznerjquery/js/jquery.min.js') }}"></script>
            <script type="text/javascript" src="{{ asset('bundles/bmatznerfoundation/js/foundation.min.js') }}"></script>
        {% endblock %}
    </body>
</html>
