{% extends "base.html.twig"  %}

{% block body %}






<div class="row">



    <div class="large-9 push-3 columns">

        <h3>Map</h3>

        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d40492.597218452815!2d3.04716045!3d50.6310675!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x47c2d579b3256e11%3A0x40af13e81646360!2sLille%2C+France!5e0!3m2!1sfr!2s!4v1423734728533" width="720" height="740" frameborder="0" style="border:0"></iframe>
    </div>




    <div class="large-3 pull-9 columns">

        {{ form(form) }}

        <p><img src="http://placehold.it/320x240&text=Ad"/></p>

    </div>

</div>




<footer class="row">
    <div class="large-12 columns">
        <hr/>
        <div class="row">
            <div class="large-6 columns">
                <p>© Copyright</p>
            </div>
            <div class="large-6 columns">
                <ul class="inline-list right">
                    <li><a href="#">Section 1</a></li>
                    <li><a href="#">Section 2</a></li>
                    <li><a href="#">Section 3</a></li>
                    <li><a href="#">Section 4</a></li>
                </ul>
            </div>
        </div>
    </div>
</footer>

{% endblock %}