{% extends "base.html.twig"  %}

{% block body %}


<div class="row" style="height:100%; width:100%;">

    <div class="large-9 push-3 columns" style="height: 100%;">

        <h3>Map</h3>

        <div  id="map-canvas" style="height:80%;"></div>




    </div>




    <div class="large-3 pull-9 columns">

        {{ form(form) }}

        <p><img src="http://placehold.it/320x240&text=Ad"/></p>

    </div>

</div>




<footer class="row">
    <div class="large-12 columns">
        <hr/>
        <div class="row">
            <div class="large-6 columns">
                <p>© Copyright</p>
            </div>
            <div class="large-6 columns">
                <ul class="inline-list right">
                    <li><a href="#">Section 1</a></li>
                    <li><a href="#">Section 2</a></li>
                    <li><a href="#">Section 3</a></li>
                    <li><a href="#">Section 4</a></li>
                </ul>
            </div>
        </div>
    </div>
</footer>

{% endblock %}